/*css document*/
div{background-color: blue;
    padding:0;
    border: 1 px solid black;
    margin: 0; }
p{ background-color: white;
    padding: 1 em;
    BORDER-WIDTH: 10px;
    border-style:solid;
    border-color: blue;
    margin: 10px; }
